@import 'https://fonts.googleapis.com/css?family=Merriweather';

* {
  margin: 0 auto;
  padding: 0;
  
}
body {
    background-color: #ccc;
}

.answer {
  padding: 20px 0;
  border-bottom: 2px solid rgba(0,0,0,.05); 
  text-align: center;
}

h3 {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  letter-spacing: 1px;
  width: 100%;
  position: relative;
  display: inline-block;
  color: #465457;
}
.container {
    max-width: 950px;
}
section {
    margin-bottom: 25px;
}
.answer h3 {
    display: table;
    width: auto;
    margin: 15px auto;
    letter-spacing: 2px;
}
.answer h3:before {
    content: "";
    position: absolute;
    top: -7%;
    left: -5px;
    width: 30px;
    height: 20px;
    border-top: 2px solid #465457;
    border-left: 2px solid #465457;
}
.answer h3:after {
    content: "";
    position: absolute;
    bottom: -7%;
    right: -5px;
    width: 30px;
    height: 20px;
    border-bottom: 2px solid #465457;
    border-right: 2px solid #465457;
}
p, ul {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: #465457;
    margin-left: 40px;
    margin-top: 10px;
}
a {
    text-decoration: none;
    color:  #546468;
}
.task-head{
    font-size: 16px;
}
.task4-answer{
    text-transform: uppercase;
    font-weight: bold;
}
.header {
    background-color: rgb(190, 187, 187);
    padding-top: 25px;
    padding-bottom: 25px;
}
.header p {
    font-size: 14px;
}
.footer {
    background-color: rgb(190, 187, 187);
    padding-top: 25px;
    padding-bottom: 25px;
}
.footer p {
    font-size: 14px;
}
